h1 {
    color: turquoise;
    font-size: 40pt;
    border-bottom: 15px solid magenta;
}

h2 {
    color: deeppink;
    font-size: 10pt;
}

.foodlist {
    font-size: 20pt;
    color: purple;
}

.equipment {
    font-size: 20pt;
    color: orangered;
}

.outer {
    border: 3px solid blue;
    background-color: pink;
}

.outer section {
    background-color:white;
}

nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
}

nav ul li {
      background: turquoise;
      padding: 5px;
      margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
    color: magenta;
}

p:first-of-type:first-letter {
font-size: 75px;
font-family: serif;
line-height: .8em;
padding-right: 8px;
float: left;

}