h1 {
    color: midnightblue;
    font-size: 50pt;
    text-align: center;
    border-bottom: 5px solid magenta;
}

h3 {
    font-size: 15pt;
    color: black;
}

.outer {
    border: 1px solid black;
    display: flex;
}

.outer section {
   background-color: deeppink;
   padding: 15px;
   margin: 20px;
}

nav ul {
    list-style: none;
    margin: 0; 
    padding: 0;
    display: flex;
}

nav ul li {
    background: green; 
    padding:5px;
    margin:10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
